<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
        {% endblock %}
        <title>{% block title%}{% endblock %}</title>
        {% block styles %}
        {% endblock %}
        {{ include("Templates/head.html.twig") }}
        {% block links %}
        {% endblock %}
    </head>
    <body>
        {{ include("Templates/nav.html.twig") }}
        {{ include("Templates/cvSelector.html.twig") }}
        <header>
            {% block header %}
            {% endblock %}
        </header>
        {% block body %}

        {% endblock %}
        {{ include("Templates/footer.html.twig") }}
    </body>
    {{ include("Templates/scripts.html.twig") }}
    {% block scripts %}
    {% endblock %}
</html>